$rosso: #dc143c;
$verde: #33b864;
$bianco: #fff;
$colorLink: rgb(40,103,178);
$linkedin: rgb(40,103,178);
$github: #6cc644;
$instagram: linear-gradient(45deg, #405DE6, #5851DB,#5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
